.PageLayout__pageLayout__eJfL.__wab_instance {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-height: 100vh;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.PageLayout__svg___0VmSt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 1em;
}
