@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-LkT57G0rawJf_font-family: "Inter", sans-serif;
  --mixin-LkT57G0rawJf_font-size: 14px;
  --mixin-LkT57G0rawJf_font-weight: 400;
  --mixin-LkT57G0rawJf_font-style: normal;
  --mixin-LkT57G0rawJf_color: #535353;
  --mixin-LkT57G0rawJf_text-align: left;
  --mixin-LkT57G0rawJf_text-transform: none;
  --mixin-LkT57G0rawJf_line-height: 1.5;
  --mixin-LkT57G0rawJf_letter-spacing: normal;
  --mixin-LkT57G0rawJf_white-space: pre-wrap;
  --mixin-LkT57G0rawJf_user-select: text;
  --mixin-LkT57G0rawJf_text-decoration-line: none;
  --mixin-LkT57G0rawJf_text-overflow: clip;
  --mixin-T1DTzpqmMLV1_color: #000000;
  --mixin-T1DTzpqmMLV1_font-weight: 600;
  --mixin-T1DTzpqmMLV1_font-size: 40px;
  --mixin-T1DTzpqmMLV1_line-height: 1;
  --mixin-T1DTzpqmMLV1_letter-spacing: -1px;
  --mixin-T1DTzpqmMLV1_white-space: pre-wrap;
  --mixin-bNKC77OVCMm9_color: #000000;
  --mixin-bNKC77OVCMm9_font-size: 30px;
  --mixin-bNKC77OVCMm9_font-weight: 600;
  --mixin-bNKC77OVCMm9_line-height: 1.1;
  --mixin-bNKC77OVCMm9_white-space: pre-wrap;
  --mixin-83LNMWGP_Joc_color: #0070f3;
  --mixin-83LNMWGP_Joc_white-space: pre-wrap;
  --mixin-76uOYl-i0cx5_color: #000000;
  --mixin-76uOYl-i0cx5_font-size: 24px;
  --mixin-76uOYl-i0cx5_font-weight: 600;
  --mixin-76uOYl-i0cx5_line-height: 1.2;
  --mixin-76uOYl-i0cx5_white-space: pre-wrap;
  --mixin-dHOD8Is70mSp_color: #000000;
  --mixin-dHOD8Is70mSp_font-size: 20px;
  --mixin-dHOD8Is70mSp_font-weight: 600;
  --mixin-dHOD8Is70mSp_line-height: 1.3;
  --mixin-dHOD8Is70mSp_white-space: pre-wrap;
  --mixin-2UU5D36KkKIs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2UU5D36KkKIs_border-bottom-color: #dddddd;
  --mixin-2UU5D36KkKIs_border-bottom-style: solid;
  --mixin-2UU5D36KkKIs_border-bottom-width: 1px;
  --mixin-2UU5D36KkKIs_border-left-color: #dddddd;
  --mixin-2UU5D36KkKIs_border-left-style: solid;
  --mixin-2UU5D36KkKIs_border-left-width: 1px;
  --mixin-2UU5D36KkKIs_border-right-color: #dddddd;
  --mixin-2UU5D36KkKIs_border-right-style: solid;
  --mixin-2UU5D36KkKIs_border-right-width: 1px;
  --mixin-2UU5D36KkKIs_border-top-color: #dddddd;
  --mixin-2UU5D36KkKIs_border-top-style: solid;
  --mixin-2UU5D36KkKIs_border-top-width: 1px;
  --mixin-2UU5D36KkKIs_border-bottom-left-radius: 3px;
  --mixin-2UU5D36KkKIs_border-bottom-right-radius: 3px;
  --mixin-2UU5D36KkKIs_border-top-left-radius: 3px;
  --mixin-2UU5D36KkKIs_border-top-right-radius: 3px;
  --mixin-2UU5D36KkKIs_font-family: "Inconsolata";
  --mixin-2UU5D36KkKIs_padding-bottom: 1px;
  --mixin-2UU5D36KkKIs_padding-left: 4px;
  --mixin-2UU5D36KkKIs_padding-right: 4px;
  --mixin-2UU5D36KkKIs_padding-top: 1px;
  --mixin-2UU5D36KkKIs_white-space: pre-wrap;
  --mixin-NYdsoYgJOrqz_border-left-color: #dddddd;
  --mixin-NYdsoYgJOrqz_border-left-style: solid;
  --mixin-NYdsoYgJOrqz_border-left-width: 3px;
  --mixin-NYdsoYgJOrqz_color: #888888;
  --mixin-NYdsoYgJOrqz_padding-left: 10px;
  --mixin-NYdsoYgJOrqz_white-space: pre-wrap;
  --mixin-GwGdVgJeoGWq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-GwGdVgJeoGWq_border-bottom-color: #dddddd;
  --mixin-GwGdVgJeoGWq_border-bottom-style: solid;
  --mixin-GwGdVgJeoGWq_border-bottom-width: 1px;
  --mixin-GwGdVgJeoGWq_border-left-color: #dddddd;
  --mixin-GwGdVgJeoGWq_border-left-style: solid;
  --mixin-GwGdVgJeoGWq_border-left-width: 1px;
  --mixin-GwGdVgJeoGWq_border-right-color: #dddddd;
  --mixin-GwGdVgJeoGWq_border-right-style: solid;
  --mixin-GwGdVgJeoGWq_border-right-width: 1px;
  --mixin-GwGdVgJeoGWq_border-top-color: #dddddd;
  --mixin-GwGdVgJeoGWq_border-top-style: solid;
  --mixin-GwGdVgJeoGWq_border-top-width: 1px;
  --mixin-GwGdVgJeoGWq_border-bottom-left-radius: 3px;
  --mixin-GwGdVgJeoGWq_border-bottom-right-radius: 3px;
  --mixin-GwGdVgJeoGWq_border-top-left-radius: 3px;
  --mixin-GwGdVgJeoGWq_border-top-right-radius: 3px;
  --mixin-GwGdVgJeoGWq_font-family: "Inconsolata";
  --mixin-GwGdVgJeoGWq_padding-bottom: 3px;
  --mixin-GwGdVgJeoGWq_padding-left: 6px;
  --mixin-GwGdVgJeoGWq_padding-right: 6px;
  --mixin-GwGdVgJeoGWq_padding-top: 3px;
  --mixin-GwGdVgJeoGWq_white-space: pre-wrap;
  --mixin-OLrSfP35jqll_display: flex;
  --mixin-OLrSfP35jqll_flex-direction: column;
  --mixin-OLrSfP35jqll_align-items: stretch;
  --mixin-OLrSfP35jqll_justify-content: flex-start;
  --mixin-OLrSfP35jqll_list-style-position: outside;
  --mixin-OLrSfP35jqll_padding-left: 40px;
  --mixin-OLrSfP35jqll_position: relative;
  --mixin-OLrSfP35jqll_list-style-type: disc;
  --mixin-OLrSfP35jqll_white-space: pre-wrap;
  --mixin-ahSAtDtSROLe_display: flex;
  --mixin-ahSAtDtSROLe_flex-direction: column;
  --mixin-ahSAtDtSROLe_align-items: stretch;
  --mixin-ahSAtDtSROLe_justify-content: flex-start;
  --mixin-ahSAtDtSROLe_list-style-position: outside;
  --mixin-ahSAtDtSROLe_padding-left: 40px;
  --mixin-ahSAtDtSROLe_position: relative;
  --mixin-ahSAtDtSROLe_list-style-type: decimal;
  --mixin-ahSAtDtSROLe_white-space: pre-wrap;
  --mixin-z8awglY49kq5_color: #000000;
  --mixin-z8awglY49kq5_font-size: 16px;
  --mixin-z8awglY49kq5_font-weight: 600;
  --mixin-z8awglY49kq5_line-height: 1.5;
  --mixin-z8awglY49kq5_white-space: pre-wrap;
  --mixin--9qgSotx1lqT_color: #000000;
  --mixin--9qgSotx1lqT_font-size: 14px;
  --mixin--9qgSotx1lqT_font-weight: 600;
  --mixin--9qgSotx1lqT_line-height: 1.5;
  --mixin--9qgSotx1lqT_white-space: pre-wrap;
  --mixin-AOWKN_DUtHru_color: #3291ff;
  --mixin-AOWKN_DUtHru_white-space: pre-wrap;
  --mixin-Iccu24PguSo5_white-space: pre-wrap;
  --mixin-QE1UnXuwloas_white-space: pre-wrap;
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) {
  font-family: var(--mixin-LkT57G0rawJf_font-family);
  font-size: var(--mixin-LkT57G0rawJf_font-size);
  font-weight: var(--mixin-LkT57G0rawJf_font-weight);
  font-style: var(--mixin-LkT57G0rawJf_font-style);
  color: var(--mixin-LkT57G0rawJf_color);
  text-align: var(--mixin-LkT57G0rawJf_text-align);
  text-transform: var(--mixin-LkT57G0rawJf_text-transform);
  line-height: var(--mixin-LkT57G0rawJf_line-height);
  letter-spacing: var(--mixin-LkT57G0rawJf_letter-spacing);
  white-space: var(--mixin-LkT57G0rawJf_white-space);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) h1:where(.plasmic_default__h1),
h1:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__h1),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) h1,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) h1,
h1:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-T1DTzpqmMLV1_color);
  font-weight: var(--mixin-T1DTzpqmMLV1_font-weight);
  font-size: var(--mixin-T1DTzpqmMLV1_font-size);
  line-height: var(--mixin-T1DTzpqmMLV1_line-height);
  letter-spacing: var(--mixin-T1DTzpqmMLV1_letter-spacing);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) h2:where(.plasmic_default__h2),
h2:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__h2),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) h2,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) h2,
h2:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-bNKC77OVCMm9_color);
  font-size: var(--mixin-bNKC77OVCMm9_font-size);
  font-weight: var(--mixin-bNKC77OVCMm9_font-weight);
  line-height: var(--mixin-bNKC77OVCMm9_line-height);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) a:where(.plasmic_default__a),
a:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__a),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) a,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) a,
a:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-83LNMWGP_Joc_color);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) h3:where(.plasmic_default__h3),
h3:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__h3),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) h3,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) h3,
h3:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-76uOYl-i0cx5_color);
  font-size: var(--mixin-76uOYl-i0cx5_font-size);
  font-weight: var(--mixin-76uOYl-i0cx5_font-weight);
  line-height: var(--mixin-76uOYl-i0cx5_line-height);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) h4:where(.plasmic_default__h4),
h4:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__h4),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) h4,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) h4,
h4:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-dHOD8Is70mSp_color);
  font-size: var(--mixin-dHOD8Is70mSp_font-size);
  font-weight: var(--mixin-dHOD8Is70mSp_font-weight);
  line-height: var(--mixin-dHOD8Is70mSp_line-height);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) code:where(.plasmic_default__code),
code:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__code),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) code,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) code,
code:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2UU5D36KkKIs_font-family);
  border-radius: var(--mixin-2UU5D36KkKIs_border-top-left-radius)
    var(--mixin-2UU5D36KkKIs_border-top-right-radius)
    var(--mixin-2UU5D36KkKIs_border-bottom-right-radius)
    var(--mixin-2UU5D36KkKIs_border-bottom-left-radius);
  padding: var(--mixin-2UU5D36KkKIs_padding-top)
    var(--mixin-2UU5D36KkKIs_padding-right)
    var(--mixin-2UU5D36KkKIs_padding-bottom)
    var(--mixin-2UU5D36KkKIs_padding-left);
  border-top: var(--mixin-2UU5D36KkKIs_border-top-width)
    var(--mixin-2UU5D36KkKIs_border-top-style)
    var(--mixin-2UU5D36KkKIs_border-top-color);
  border-right: var(--mixin-2UU5D36KkKIs_border-right-width)
    var(--mixin-2UU5D36KkKIs_border-right-style)
    var(--mixin-2UU5D36KkKIs_border-right-color);
  border-bottom: var(--mixin-2UU5D36KkKIs_border-bottom-width)
    var(--mixin-2UU5D36KkKIs_border-bottom-style)
    var(--mixin-2UU5D36KkKIs_border-bottom-color);
  border-left: var(--mixin-2UU5D36KkKIs_border-left-width)
    var(--mixin-2UU5D36KkKIs_border-left-style)
    var(--mixin-2UU5D36KkKIs_border-left-color);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb)
  blockquote:where(.plasmic_default__blockquote),
blockquote:where(
    .root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__blockquote
  ),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) blockquote,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) blockquote,
blockquote:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-NYdsoYgJOrqz_color);
  padding-left: var(--mixin-NYdsoYgJOrqz_padding-left);
  border-left: var(--mixin-NYdsoYgJOrqz_border-left-width)
    var(--mixin-NYdsoYgJOrqz_border-left-style)
    var(--mixin-NYdsoYgJOrqz_border-left-color);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) pre:where(.plasmic_default__pre),
pre:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__pre),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) pre,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) pre,
pre:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-GwGdVgJeoGWq_font-family);
  border-radius: var(--mixin-GwGdVgJeoGWq_border-top-left-radius)
    var(--mixin-GwGdVgJeoGWq_border-top-right-radius)
    var(--mixin-GwGdVgJeoGWq_border-bottom-right-radius)
    var(--mixin-GwGdVgJeoGWq_border-bottom-left-radius);
  padding: var(--mixin-GwGdVgJeoGWq_padding-top)
    var(--mixin-GwGdVgJeoGWq_padding-right)
    var(--mixin-GwGdVgJeoGWq_padding-bottom)
    var(--mixin-GwGdVgJeoGWq_padding-left);
  border-top: var(--mixin-GwGdVgJeoGWq_border-top-width)
    var(--mixin-GwGdVgJeoGWq_border-top-style)
    var(--mixin-GwGdVgJeoGWq_border-top-color);
  border-right: var(--mixin-GwGdVgJeoGWq_border-right-width)
    var(--mixin-GwGdVgJeoGWq_border-right-style)
    var(--mixin-GwGdVgJeoGWq_border-right-color);
  border-bottom: var(--mixin-GwGdVgJeoGWq_border-bottom-width)
    var(--mixin-GwGdVgJeoGWq_border-bottom-style)
    var(--mixin-GwGdVgJeoGWq_border-bottom-color);
  border-left: var(--mixin-GwGdVgJeoGWq_border-left-width)
    var(--mixin-GwGdVgJeoGWq_border-left-style)
    var(--mixin-GwGdVgJeoGWq_border-left-color);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) ul:where(.plasmic_default__ul),
ul:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__ul),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) ul,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) ul,
ul:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  display: var(--mixin-OLrSfP35jqll_display);
  flex-direction: var(--mixin-OLrSfP35jqll_flex-direction);
  align-items: var(--mixin-OLrSfP35jqll_align-items);
  justify-content: var(--mixin-OLrSfP35jqll_justify-content);
  list-style-position: var(--mixin-OLrSfP35jqll_list-style-position);
  padding-left: var(--mixin-OLrSfP35jqll_padding-left);
  position: var(--mixin-OLrSfP35jqll_position);
  list-style-type: var(--mixin-OLrSfP35jqll_list-style-type);
  flex-column-gap: var(--mixin-OLrSfP35jqll_flex-column-gap);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) ol:where(.plasmic_default__ol),
ol:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__ol),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) ol,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) ol,
ol:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  display: var(--mixin-ahSAtDtSROLe_display);
  flex-direction: var(--mixin-ahSAtDtSROLe_flex-direction);
  align-items: var(--mixin-ahSAtDtSROLe_align-items);
  justify-content: var(--mixin-ahSAtDtSROLe_justify-content);
  list-style-position: var(--mixin-ahSAtDtSROLe_list-style-position);
  padding-left: var(--mixin-ahSAtDtSROLe_padding-left);
  position: var(--mixin-ahSAtDtSROLe_position);
  list-style-type: var(--mixin-ahSAtDtSROLe_list-style-type);
  flex-column-gap: var(--mixin-ahSAtDtSROLe_flex-column-gap);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) h5:where(.plasmic_default__h5),
h5:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__h5),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) h5,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) h5,
h5:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin-z8awglY49kq5_color);
  font-size: var(--mixin-z8awglY49kq5_font-size);
  font-weight: var(--mixin-z8awglY49kq5_font-weight);
  line-height: var(--mixin-z8awglY49kq5_line-height);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) h6:where(.plasmic_default__h6),
h6:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__h6),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) h6,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) h6,
h6:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
  color: var(--mixin--9qgSotx1lqT_color);
  font-size: var(--mixin--9qgSotx1lqT_font-size);
  font-weight: var(--mixin--9qgSotx1lqT_font-weight);
  line-height: var(--mixin--9qgSotx1lqT_line-height);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) a:where(.plasmic_default__a):hover,
a:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__a):hover,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) a:hover,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) a:hover,
a:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags):hover {
  color: var(--mixin-AOWKN_DUtHru_color);
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) li:where(.plasmic_default__li),
li:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__li),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) li,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) li,
li:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
}

:where(.root_reset_chwrzvw5hacDdCDtmYaSSb) p:where(.plasmic_default__p),
p:where(.root_reset_chwrzvw5hacDdCDtmYaSSb.plasmic_default__p),
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb .__wab_expr_html_text) p,
:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) p,
p:where(.root_reset_chwrzvw5hacDdCDtmYaSSb_tags) {
}
