.MenuSection__root__pdiit.__wab_instance {
  object-fit: cover;
  position: relative;
  color: var(--token-ylB27QgVfaj5);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
}
.MenuSection__freeBox__aFyrI {
  display: flex;
  flex-direction: row;
  padding: var(--token-aExGH0hJmVnM) var(--token-jy0IJPDezsB7);
}
.MenuSection__slotTargetHeader__jaBom {
  font-weight: 600;
}
