.Checkbox__ariaCheckbox__sy23Y.__wab_instance {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-ylB27QgVfaj5);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-aExGH0hJmVnM);
}
.Checkbox__ariaCheckbox__sy23Y[data-disabled].__wab_instance {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.Checkbox__ariaCheckbox__sy23Y[data-readonly].__wab_instance {
  cursor: default;
  pointer-events: none;
}
.Checkbox__freeBox__cPvzq {
  position: relative;
  width: var(--token-PW29dbzVrEKs);
  height: var(--token-PW29dbzVrEKs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-9ap3sghCd3Ip);
  border: 2px solid var(--token-OxJ8whEZVJfH);
}
.Checkbox__ariaCheckbox__sy23Y[data-focus-visible] .Checkbox__freeBox__cPvzq {
  outline-style: solid;
  outline-color: var(--token-CWnNPRN4Y62X);
  outline-offset: 1px;
  outline-width: 2px;
}
.Checkbox__ariaCheckbox__sy23Y[data-indeterminate] .Checkbox__freeBox__cPvzq {
  background: var(--token-CWnNPRN4Y62X);
  border-color: var(--token-CWnNPRN4Y62X);
}
.Checkbox__ariaCheckbox__sy23Y[data-selected] .Checkbox__freeBox__cPvzq {
  background: var(--token-CWnNPRN4Y62X);
  border-color: var(--token-CWnNPRN4Y62X);
}
.Checkbox__svg__gRrwU {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.Checkbox__ariaCheckbox__sy23Y[data-selected] .Checkbox__svg__gRrwU {
  display: block;
}
.Checkbox__svg__eWdo3 {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.Checkbox__ariaCheckbox__sy23Y[data-indeterminate] .Checkbox__svg__eWdo3 {
  display: block;
}
