.Label__root__amQo4.__wab_instance {
  position: relative;
  color: var(--token-ylB27QgVfaj5);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
}
.Label__freeBox__kv0Am {
  position: relative;
  display: flex;
  flex-direction: row;
}
.Label__freeBox__kv0Am > .__wab_flex-container {
  flex-direction: row;
  margin-left: calc(0px - var(--token-KX3GitdiTH91));
  width: calc(100% + var(--token-KX3GitdiTH91));
}
.Label__freeBox__kv0Am > .__wab_flex-container > *,
.Label__freeBox__kv0Am > .__wab_flex-container > .__wab_slot > *,
.Label__freeBox__kv0Am > .__wab_flex-container > picture > img,
.Label__freeBox__kv0Am > .__wab_flex-container > .__wab_slot > picture > img {
  margin-left: var(--token-KX3GitdiTH91);
}
.Label__slotTargetChildrensize_sm__rg5Fqzz0PW {
  font-size: var(--token-42wFKQGhMOBZ);
  line-height: var(--token-2IYplGdTlWI1);
}
.Label__slotTargetChildrensize_lg__rg5FQhyGxB {
  font-size: var(--token-RVGL6K9WO5nB);
  line-height: var(--token-bpnTlbNdaPa2);
}
.Label__text__qErWt {
  position: relative;
  display: none;
}
.Label__textrequirementIndicator_optional__qErWt752 {
  color: var(--token-wp4fJcUYb17m);
  display: block;
}
.Label__textrequirementIndicator_required__qErWtJVxiD {
  color: var(--token-gaf6H6zaN4KL);
  display: block;
}
