.Button__root__yuzNk.__wab_instance {
  position: relative;
  background: var(--token-CWnNPRN4Y62X);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-aExGH0hJmVnM);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-gz-3ROK-x6WT);
  padding: 0rem;
  border-width: 0px;
}
.Button__root__yuzNk[data-focus-visible].__wab_instance {
  outline-style: solid;
  outline-width: var(--token-9ap3sghCd3Ip);
  outline-offset: 1px;
  outline-color: var(--token-CWnNPRN4Y62X);
}
.Button__root__yuzNk[data-disabled].__wab_instance {
  cursor: not-allowed;
}
.Button__rootcolor_neutral__yuzNkfhbkK.__wab_instance {
  background: var(--token-WA25Gj89x5V-);
}
.Button__rootcolor_muted__yuzNkdpTG.__wab_instance {
  background: var(--token-Q4AMcJGYxPPk);
}
.Button__rootcolor_success__yuzNkNuiG.__wab_instance {
  background: var(--token-nc3G8JPgu43K);
}
.Button__rootcolor_warning__yuzNkwgWgG.__wab_instance {
  background: var(--token-cp7jpo66L9N_);
}
.Button__rootcolor_errorDestructive__yuzNk7XkmV.__wab_instance {
  background: var(--token-gaf6H6zaN4KL);
}
.Button__roottype_soft__yuzNkvd26K.__wab_instance {
  background: none;
}
.Button__roottype_bordered__yuzNkl05CT.__wab_instance {
  background: none;
}
.Button__rootsize_extraSmall__yuzNkEm7OB.__wab_instance {
  line-height: var(--token-2IYplGdTlWI1);
  font-size: var(--token-42wFKQGhMOBZ);
  column-gap: var(--token-9ap3sghCd3Ip);
  row-gap: 0px;
  border-radius: var(--token-KX3GitdiTH91);
}
.Button__rootsize_small__yuzNkYGcIy.__wab_instance {
  font-size: var(--token-42wFKQGhMOBZ);
  line-height: var(--token-2IYplGdTlWI1);
  column-gap: var(--token-KX3GitdiTH91);
  row-gap: 0px;
  border-radius: var(--token-KX3GitdiTH91);
}
.Button__rootsize_large__yuzNkBBaa.__wab_instance {
  font-size: var(--token-RVGL6K9WO5nB);
  line-height: var(--token-bpnTlbNdaPa2);
}
.Button__rootsize_extraLarge__yuzNkr2Mbd.__wab_instance {
  font-size: var(--token-RVGL6K9WO5nB);
  line-height: var(--token-bpnTlbNdaPa2);
}
.Button__rootroundedFull__yuzNkLjepv.__wab_instance {
  border-radius: 99px;
}
.Button__rootflatSide_top__yuzNka8PG.__wab_instance {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.Button__rootflatSide_right__yuzNkMkGUm.__wab_instance {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__rootflatSide_bottom__yuzNkj5MwT.__wab_instance {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__rootflatSide_left__yuzNk8B7Zu.__wab_instance {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__softBackground___9OgK {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-H12MUuaDtuNN);
  border-radius: var(--token-gz-3ROK-x6WT);
}
.Button__softBackgroundcolor_neutral___9OgKfhbkK {
  background: var(--token-3Ib9y48FDFRM);
}
.Button__softBackgroundcolor_muted___9OgKdpTG {
  background: var(--token-RCLge9wcv1Hp);
}
.Button__softBackgroundcolor_success___9OgKNuiG {
  background: var(--token-_bfGhTostbUS);
}
.Button__softBackgroundcolor_warning___9OgKwgWgG {
  background: var(--token-eLhqY0YiYH7l);
}
.Button__softBackgroundcolor_errorDestructive___9OgK7XkmV {
  background: var(--token-VqlDwjHt6p-q);
}
.Button__softBackgroundtype_soft___9OgKvd26K {
  display: block;
}
.Button__roottype_bordered__yuzNkl05CT[data-hovered]
  .Button__softBackgroundtype_bordered___9OgKl05CT {
  display: block;
}
.Button__roottype_bordered__yuzNkl05CT[data-pressed]
  .Button__softBackgroundtype_bordered___9OgKl05CT {
  display: block;
}
.Button__softBackgroundroundedFull___9OgKLjepv {
  border-radius: 99px;
}
.Button__border__tj0UG {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-gz-3ROK-x6WT);
  border: 0px solid var(--token-8GRwD61kg7La);
}
.Button__bordercolor_neutral__tj0UGfhbkK {
  border-color: var(--token-mVQAeAy--tuW);
}
.Button__bordercolor_muted__tj0UGdpTG {
  border-color: var(--token-nQisolpDT4A8);
}
.Button__bordercolor_success__tj0UGnuiG {
  border-color: var(--token-uOU3GPMdVWCZ);
}
.Button__bordercolor_warning__tj0UGwgWgG {
  border-color: var(--token-cfm3qoe8zqUV);
}
.Button__bordercolor_errorDestructive__tj0UG7XkmV {
  border-color: var(--token-z25TjeL_S8rw);
}
.Button__bordertype_bordered__tj0UGl05CT {
  background: none;
  display: block;
  border-width: 1px;
}
.Button__borderroundedFull__tj0UGljepv {
  border-radius: 99px;
}
.Button__borderflatSide_top__tj0UGa8PG {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.Button__borderflatSide_right__tj0UGMkGUm {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_bottom__tj0UGj5MwT {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_left__tj0UG8B7Zu {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__interactionEffect__edm3 {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-gz-3ROK-x6WT);
}
.Button__root__yuzNk[data-hovered] .Button__interactionEffect__edm3 {
  background: var(--token-ovmXSynx7bM6);
}
.Button__root__yuzNk[data-disabled] .Button__interactionEffect__edm3 {
  background: var(--token-4uJWoFYASNPz);
}
.Button__root__yuzNk[data-pressed] .Button__interactionEffect__edm3 {
  background: var(--token-BiW80oNgUOL7);
}
.Button__roottype_bordered__yuzNkl05CT[data-hovered]
  .Button__interactionEffecttype_bordered__edm3L05CT {
  display: none;
}
.Button__interactionEffectroundedFull__edm3Ljepv {
  border-radius: 99px;
}
.Button__freeBox__t2BTr {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-gz-3ROK-x6WT) var(--token-jy0IJPDezsB7);
}
.Button__freeBox__t2BTr > .__wab_flex-container {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-gz-3ROK-x6WT));
  width: calc(100% + var(--token-gz-3ROK-x6WT));
}
.Button__freeBox__t2BTr > .__wab_flex-container > *,
.Button__freeBox__t2BTr > .__wab_flex-container > .__wab_slot > *,
.Button__freeBox__t2BTr > .__wab_flex-container > picture > img,
.Button__freeBox__t2BTr > .__wab_flex-container > .__wab_slot > picture > img {
  margin-left: var(--token-gz-3ROK-x6WT);
}
.Button__freeBoxsize_extraSmall__t2BTrEm7OB {
  padding: var(--token-KX3GitdiTH91) var(--token-gz-3ROK-x6WT);
}
.Button__freeBoxsize_small__t2BTrYGcIy {
  padding: var(--token-gz-3ROK-x6WT) var(--token-aExGH0hJmVnM);
}
.Button__freeBoxsize_large__t2BTrBBaa {
  padding-top: var(--token-KX3GitdiTH91);
  padding-bottom: var(--token-KX3GitdiTH91);
}
.Button__freeBoxsize_extraLarge__t2BTrr2Mbd {
  padding-left: var(--token-iSkOWwG4rcPi);
  padding-right: var(--token-iSkOWwG4rcPi);
}
.Button__freeBoxroundedFull__t2BTrLjepv {
  padding-right: var(--token-iSkOWwG4rcPi);
  padding-left: var(--token-iSkOWwG4rcPi);
}
.Button__freeBox__bcftm {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconStart__bcftmQk1Q {
  display: flex;
}
.Button__slotTargetStart__cUeMi {
  color: var(--token-cAR1TqsIL1lZ);
}
.Button__slotTargetStartcolor_neutral__cUeMifhbkK {
  color: var(--token-ZsYdhHinvFWe);
}
.Button__slotTargetStartcolor_muted__cUeMidpTG {
  color: var(--token-wgwJbJRMjJhx);
}
.Button__slotTargetStartcolor_success__cUeMiNuiG {
  color: var(--token-A_ngsz7sOjdh);
}
.Button__slotTargetStartcolor_warning__cUeMiwgWgG {
  color: var(--token-T_5haWr1G8be);
}
.Button__slotTargetStartcolor_errorDestructive__cUeMi7XkmV {
  color: var(--token-aZcQbNe2yaH3);
}
.Button__slotTargetStarttype_soft__cUeMivd26K {
  color: var(--token-lvUEooRf97m8);
}
.Button__slotTargetStarttype_bordered__cUeMil05CT {
  color: var(--token-lvUEooRf97m8);
}
.Button__slotTargetStartsize_extraSmall__cUeMiEm7OB {
  font-size: var(--token-42wFKQGhMOBZ);
}
.Button__slotTargetStartsize_small__cUeMiYGcIy {
  font-size: var(--token-42wFKQGhMOBZ);
}
.Button__slotTargetStartsize_large__cUeMiBBaa {
  font-size: var(--token-RVGL6K9WO5nB);
}
.Button__slotTargetStartsize_extraLarge__cUeMir2Mbd {
  font-size: var(--token-RVGL6K9WO5nB);
}
.Button__slotTargetStartcolor_neutral_type_soft__cUeMifhbkKVd26K {
  color: var(--token-MK2d3elTRajh);
}
.Button__slotTargetStartcolor_neutral_type_bordered__cUeMifhbkKL05CT {
  color: var(--token-MK2d3elTRajh);
}
.Button__slotTargetStartcolor_muted_type_soft__cUeMidpTGVd26K {
  color: var(--token-kdGlD3z7cQU6);
}
.Button__slotTargetStartcolor_muted_type_bordered__cUeMidpTGL05CT {
  color: var(--token-kdGlD3z7cQU6);
}
.Button__slotTargetStartcolor_success_type_soft__cUeMiNuiGVd26K {
  color: var(--token-_HZXfqC3Lglm);
}
.Button__slotTargetStartcolor_success_type_bordered__cUeMiNuiGL05CT {
  color: var(--token-_HZXfqC3Lglm);
}
.Button__slotTargetStarttype_soft_color_warning__cUeMivd26KWgWgG {
  color: var(--token-lh7Du8jnwcty);
}
.Button__slotTargetStarttype_bordered_color_warning__cUeMil05CTWgWgG {
  color: var(--token-lh7Du8jnwcty);
}
.Button__slotTargetStartcolor_errorDestructive_type_soft__cUeMi7XkmVVd26K {
  color: var(--token-6KGD3_LEWZ3h);
}
.Button__slotTargetStartcolor_errorDestructive_type_bordered__cUeMi7XkmVL05CT {
  color: var(--token-6KGD3_LEWZ3h);
}
.Button__svg__vIr13 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.Button__slotTargetLabel__mrm4W {
  color: var(--token-cAR1TqsIL1lZ);
}
.Button__slotTargetLabelcolor_neutral__mrm4WfhbkK {
  color: var(--token-ZsYdhHinvFWe);
}
.Button__slotTargetLabelcolor_muted__mrm4WdpTG {
  color: var(--token-wgwJbJRMjJhx);
}
.Button__slotTargetLabelcolor_success__mrm4WnuiG {
  color: var(--token-A_ngsz7sOjdh);
}
.Button__slotTargetLabelcolor_warning__mrm4WwgWgG {
  color: var(--token-T_5haWr1G8be);
}
.Button__slotTargetLabelcolor_errorDestructive__mrm4W7XkmV {
  color: var(--token-aZcQbNe2yaH3);
}
.Button__slotTargetLabeltype_soft__mrm4Wvd26K {
  color: var(--token-lvUEooRf97m8);
}
.Button__slotTargetLabeltype_bordered__mrm4Wl05CT {
  color: var(--token-lvUEooRf97m8);
}
.Button__slotTargetLabelcolor_neutral_type_soft__mrm4WfhbkKVd26K {
  color: var(--token-MK2d3elTRajh);
}
.Button__slotTargetLabelcolor_muted_type_soft__mrm4WdpTGVd26K {
  color: var(--token-kdGlD3z7cQU6);
}
.Button__slotTargetLabelcolor_neutral_type_bordered__mrm4WfhbkKL05CT {
  color: var(--token-MK2d3elTRajh);
}
.Button__slotTargetLabelcolor_success_type_soft__mrm4WnuiGVd26K {
  color: var(--token-_HZXfqC3Lglm);
}
.Button__slotTargetLabelcolor_muted_type_bordered__mrm4WdpTGL05CT {
  color: var(--token-kdGlD3z7cQU6);
}
.Button__slotTargetLabeltype_soft_color_warning__mrm4Wvd26KWgWgG {
  color: var(--token-lh7Du8jnwcty);
}
.Button__slotTargetLabelcolor_success_type_bordered__mrm4WnuiGL05CT {
  color: var(--token-_HZXfqC3Lglm);
}
.Button__slotTargetLabelcolor_errorDestructive_type_soft__mrm4W7XkmVVd26K {
  color: var(--token-6KGD3_LEWZ3h);
}
.Button__slotTargetLabeltype_bordered_color_warning__mrm4Wl05CTWgWgG {
  color: var(--token-lh7Du8jnwcty);
}
.Button__slotTargetLabelcolor_errorDestructive_type_bordered__mrm4W7XkmVL05CT {
  color: var(--token-6KGD3_LEWZ3h);
}
.Button__text___7EuEg {
  white-space: pre;
}
.Button__freeBox__lQuG {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconEnd__lQuG6Y3Cw {
  display: flex;
}
.Button__slotTargetEnd__aNzge {
  color: var(--token-cAR1TqsIL1lZ);
}
.Button__slotTargetEndcolor_neutral__aNzgefhbkK {
  color: var(--token-ZsYdhHinvFWe);
}
.Button__slotTargetEndcolor_muted__aNzgedpTG {
  color: var(--token-wgwJbJRMjJhx);
}
.Button__slotTargetEndcolor_success__aNzgeNuiG {
  color: var(--token-A_ngsz7sOjdh);
}
.Button__slotTargetEndcolor_warning__aNzgewgWgG {
  color: var(--token-T_5haWr1G8be);
}
.Button__slotTargetEndcolor_errorDestructive__aNzge7XkmV {
  color: var(--token-aZcQbNe2yaH3);
}
.Button__slotTargetEndtype_soft__aNzgevd26K {
  color: var(--token-lvUEooRf97m8);
}
.Button__slotTargetEndtype_bordered__aNzgel05CT {
  color: var(--token-lvUEooRf97m8);
}
.Button__slotTargetEndsize_extraSmall__aNzgeEm7OB {
  font-size: var(--token-42wFKQGhMOBZ);
}
.Button__slotTargetEndsize_small__aNzgeYGcIy {
  font-size: var(--token-42wFKQGhMOBZ);
}
.Button__slotTargetEndsize_large__aNzgeBBaa {
  font-size: var(--token-RVGL6K9WO5nB);
}
.Button__slotTargetEndsize_extraLarge__aNzger2Mbd {
  font-size: var(--token-RVGL6K9WO5nB);
}
.Button__slotTargetEndcolor_neutral_type_soft__aNzgefhbkKVd26K {
  color: var(--token-MK2d3elTRajh);
}
.Button__slotTargetEndcolor_neutral_type_bordered__aNzgefhbkKL05CT {
  color: var(--token-MK2d3elTRajh);
}
.Button__slotTargetEndcolor_muted_type_soft__aNzgedpTGVd26K {
  color: var(--token-kdGlD3z7cQU6);
}
.Button__slotTargetEndcolor_muted_type_bordered__aNzgedpTGL05CT {
  color: var(--token-kdGlD3z7cQU6);
}
.Button__slotTargetEndcolor_success_type_soft__aNzgeNuiGVd26K {
  color: var(--token-_HZXfqC3Lglm);
}
.Button__slotTargetEndcolor_success_type_bordered__aNzgeNuiGL05CT {
  color: var(--token-_HZXfqC3Lglm);
}
.Button__slotTargetEndtype_soft_color_warning__aNzgevd26KWgWgG {
  color: var(--token-lh7Du8jnwcty);
}
.Button__slotTargetEndtype_bordered_color_warning__aNzgel05CTWgWgG {
  color: var(--token-lh7Du8jnwcty);
}
.Button__slotTargetEndcolor_errorDestructive_type_soft__aNzge7XkmVVd26K {
  color: var(--token-6KGD3_LEWZ3h);
}
.Button__slotTargetEndcolor_errorDestructive_type_bordered__aNzge7XkmVL05CT {
  color: var(--token-6KGD3_LEWZ3h);
}
.Button__svg___1S2F7 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
