.OverlayArrow__root__kZQr.__wab_instance {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.OverlayArrow__svg__cq33Q {
  color: var(--token-5Yj-ZMo0VzQm);
  width: 10px;
  height: 10px;
  transform: translateX(0px) translateY(3px) translateZ(0px);
}
.OverlayArrow__root__kZQr[data-placement="top"] .OverlayArrow__svg__cq33Q {
  transform: translateX(0px) translateY(-3px) translateZ(0px) rotateX(0deg)
    rotateY(0deg) rotateZ(180deg);
}
.OverlayArrow__root__kZQr[data-placement="left"] .OverlayArrow__svg__cq33Q {
  transform: translateX(-3px) translateY(0px) translateZ(0px) rotateX(0deg)
    rotateY(0deg) rotateZ(90deg);
}
.OverlayArrow__root__kZQr[data-placement="right"] .OverlayArrow__svg__cq33Q {
  transform: translateX(3px) translateY(0px) translateZ(0px) rotateX(0deg)
    rotateY(0deg) rotateZ(-90deg);
}
.OverlayArrow__svgdark__cq33QKqwQ7 {
  color: var(--token-14awp6iKlSGk);
}
