.Combobox__ariaComboBox__bYv2T.__wab_instance {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-KX3GitdiTH91);
}
.Combobox__ariaComboBox__bYv2T[data-disabled].__wab_instance {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.Combobox__freeBox__fezdt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.Combobox__ariaInput__htDke.__wab_instance {
  box-shadow: inset 0px 0px 0px 1px var(--token-KkkfAYAoVFkI);
  width: 100%;
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-gz-3ROK-x6WT);
  padding: var(--token-gz-3ROK-x6WT) var(--token-cKmmHNC-ASzh)
    var(--token-gz-3ROK-x6WT) var(--token-jy0IJPDezsB7);
  border-style: none;
}
.Combobox__ariaButton__fghbr.__wab_instance {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-cKmmHNC-ASzh);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-cKmmHNC-ASzh);
  flex-shrink: 0;
  border-radius: var(--token-gz-3ROK-x6WT);
  border: 1px none black;
}
.Combobox__svg__au9P {
  width: var(--token-khVWr8w_MOE8);
  height: var(--token-khVWr8w_MOE8);
}
.Combobox__description__t6Z2.__wab_instance.__wab_instance {
  position: relative;
}
.Combobox__text__zsYYb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
