.Radio__ariaRadio__rtdEo.__wab_instance {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-ylB27QgVfaj5);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-aExGH0hJmVnM);
}
.Radio__ariaRadio__rtdEo[data-disabled].__wab_instance {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.Radio__freeBox__hadB0 {
  display: flex;
  position: relative;
  width: var(--token-PW29dbzVrEKs);
  height: var(--token-PW29dbzVrEKs);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-OxJ8whEZVJfH);
}
.Radio__ariaRadio__rtdEo[data-selected] .Radio__freeBox__hadB0 {
  background: var(--token-CWnNPRN4Y62X);
  border-color: var(--token-CWnNPRN4Y62X);
}
.Radio__ariaRadio__rtdEo[data-focus-visible] .Radio__freeBox__hadB0 {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-CWnNPRN4Y62X);
  outline-width: 2px;
}
.Radio__freeBox__n2LNt {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.Radio__ariaRadio__rtdEo[data-selected] .Radio__freeBox__n2LNt {
  width: var(--token-gz-3ROK-x6WT);
  height: var(--token-gz-3ROK-x6WT);
  flex-shrink: 0;
  display: block;
}
