.RangeSlider__ariaRangeSlider__eQeFz.__wab_instance {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-ylB27QgVfaj5);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
  min-width: 200px;
  row-gap: var(--token-iSkOWwG4rcPi);
}
.RangeSlider__ariaRangeSlider__eQeFz[data-disabled].__wab_instance {
  opacity: 0.5;
}
.RangeSlider__freeBox__u8ZEs {
  display: flex;
  flex-direction: row;
  position: relative;
}
.RangeSlider__freeBox__u8ZEs > .__wab_flex-container {
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-aExGH0hJmVnM));
  width: calc(100% + var(--token-aExGH0hJmVnM));
}
.RangeSlider__freeBox__u8ZEs > .__wab_flex-container > *,
.RangeSlider__freeBox__u8ZEs > .__wab_flex-container > .__wab_slot > *,
.RangeSlider__freeBox__u8ZEs > .__wab_flex-container > picture > img,
.RangeSlider__freeBox__u8ZEs
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-left: var(--token-aExGH0hJmVnM);
}
.RangeSlider__text___25JTj {
  position: relative;
}
.RangeSlider__text___9IdMd {
  position: relative;
}
.RangeSlider__freeBox__cyozU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-gz-3ROK-x6WT);
  padding-bottom: var(--token-gz-3ROK-x6WT);
  width: 100%;
  min-width: 0;
}
.RangeSlider__background__zgZcp {
  display: flex;
  background: var(--token-rWaFewf_QFYF);
  height: var(--token-aExGH0hJmVnM);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.RangeSlider__ariaSliderTrack__jKohR.__wab_instance {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-aExGH0hJmVnM);
  width: 100%;
  min-width: 0;
}
.RangeSlider__sliderThumb__whfUw.__wab_instance.__wab_instance {
  position: relative;
  margin-top: var(--token-KX3GitdiTH91);
}
.RangeSlider__foreground__t9FRb {
  display: block;
  background: var(--token-CWnNPRN4Y62X);
  height: var(--token-aExGH0hJmVnM);
  border-radius: 99px 0rem 0rem 99px;
}
.RangeSlider__description__iiOao.__wab_instance.__wab_instance {
  max-width: 100%;
  position: relative;
}
