.Scriptures__root__qLpk {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: flex-end;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.Scriptures__root__qLpk > * {
  grid-column: 4;
}
.Scriptures__freeBox___8FacG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.Scriptures__freeBox__oLxC2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.Scriptures__text___2YlfF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
.Scriptures__versionSelect___3Qlat.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Scriptures__freeBox__kjHjd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.Scriptures__text__ePKfg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
.Scriptures__bookSelect__tir3Y.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Scriptures__freeBox__iCjGb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.Scriptures__text__y3Bf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
.Scriptures__chapterSelect__awZk.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Scriptures__freeBox__mG0SS {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.Scriptures__freeBox__u7Mg7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.Scriptures__bookNotes__aNkig {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.Scriptures__bookNotesButton__lUzeV.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Scriptures__text__wC0Zf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.Scriptures__freeBox__mIggl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.Scriptures__chapterNotes__btbug {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.Scriptures__chapterNotesButton__ch5Rk.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.Scriptures__text__lqzKb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.Scriptures__freeBox__ww3Yt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
