.ScriptureNotesGrid__scriptureNotesGrid__biBna {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.ScriptureNotesGrid__freeBox__oykn1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.ScriptureNotesGrid__scriptureText__u5Udk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ScriptureNotesGrid__freeBox__uxY5M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.ScriptureNotesGrid__noteText__x9KHx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ScriptureNotesGrid__addNotesButton__whxAx.__wab_instance {
  max-width: 100%;
  object-fit: cover;
}
.ScriptureNotesGrid__text__aZdPy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
