.PageLayout__root__gqsdg.__wab_instance {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 0px;
  max-height: none;
  width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.PageLayout__svg__zBgr1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 1em;
}
