.Description__root___80WVd.__wab_instance {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-wp4fJcUYb17m);
  font-family: var(--token-NMoCiMcX1m03);
  font-size: var(--token-EpyY6291TWy_);
  line-height: var(--token-_PUeWmFzxHc3);
  position: relative;
}
.Description__freeBox__qtsRj {
  position: relative;
  display: flex;
}
