.RadioGroup__ariaRadioGroup___1Fg.__wab_instance {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-KX3GitdiTH91);
}
.RadioGroup__ariaRadioGroup___1Fg[data-disabled].__wab_instance {
  opacity: 0.5;
}
.RadioGroup__freeBox__vnvd {
  position: relative;
  display: flex;
  flex-direction: column;
}
.RadioGroup__freeBox__vnvd > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - var(--token-KX3GitdiTH91));
  height: calc(100% + var(--token-KX3GitdiTH91));
}
.RadioGroup__freeBox__vnvd > .__wab_flex-container > *,
.RadioGroup__freeBox__vnvd > .__wab_flex-container > .__wab_slot > *,
.RadioGroup__freeBox__vnvd > .__wab_flex-container > picture > img,
.RadioGroup__freeBox__vnvd
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-top: var(--token-KX3GitdiTH91);
}
.RadioGroup__radio__t8FUr.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__radio__wNkyk.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__radio__siJiu.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__description___676F.__wab_instance.__wab_instance {
  position: relative;
}
